<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a href="#/page-list" class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div>
            <a href="#/widget-chooser" class="navbar-text pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widgets
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item borderless no-padding">
            <div>
                <div class="widget-tool">
                    <a href="#/widget-heading">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <div style="margin-top: 0; margin-bottom: 0">
                    <h1>
                        GIZMODO
                    </h1>
                </div>
            </div>
        </li>
        <li class="list-group-item borderless no-padding">
            <div class="widget-tool">
                <a href="#/page-edit">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <h4>
                Wikihow Turned Obama, Jay-Z, and Beyoncé White to Explain 'How to Become A Congressman'
            </h4>
        </li>
        <li class="list-group-item borderless no-padding">
            <div class="widget-tool">
                <a href="#/widget-image">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <a href="#">
                <img width=100% src="https://tse2.mm.bing.net/th?id=OIP.M7805cf9c8faf4edcb8bcd0f75c2911abH0&pid=15.1&P=0&w=300&h=300">
            </a>
        </li>
        <li class="list-group-item borderless no-padding">
            <div class="widget-tool">
                <a href="#/widget-youtube">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <a href="#">
                <iframe width=100% src="https://www.youtube.com/embed/-8IHsnyV44A" frameborder="0" allowfullscreen></iframe>
            </a>
        </li>
        <li class="list-group-item borderless no-padding">
            <div class="widget-tool">
                <a href="#/page-edit">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <p>Security researcher Dan Melamed figured out a clever way to delete any video on Facebook earlier this year, and the social network rewarded him with $10,000 for responsibly reporting his hack.<br></p>

        </li>
        <li class="list-group-item borderless no-padding">
            <div class="widget-tool">
                <a href="#/page-edit">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <a href="#">
                About
            </a>
        </li>
        <li class="list-group-item borderless no-padding">
            <div class="widget-tool">
                <a href="#/page-edit">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <a href="#">
                Contact Us
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <a href="#/profile" class="navbar-text pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>