<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a href="#/widget-list" class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#">Widget Edit</a>
        <a href="#/widget-list" class="navbar-text pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" class="form-control" id="url" placeholder="https://kinga.img.com/gawker-media/image.jpg">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text" class="form-control" id="width" placeholder="100%">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file" class="form-control" id="upload" placeholder="Choose File">
        </div>
        <a href="#/widget-list" class="btn btn-primary btn-block">
            Upload Image
        </a>
        <a href="#/widget-list" class="btn btn-danger btn-block">
            Delete
        </a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <a href="#/profile" class="navbar-text pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>