<nav class="navbar navbar-default navbar-fixed-top blue-navbar">
    <div class="container-fluid">
        <div>
            <a href="#/profile/{{model.user._id}}" class="navbar-text pull-left white-navbar-text">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div>
            <a href="#/user/{{model.user._id}}/website-new" class="navbar-text pull-right white-navbar-text">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand white-navbar-text" href="#">
                Websites
            </a>
        </div>
    </div>
</nav>
<div class="row container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item borderless">
            <a href="#/page-list">
                {{website.name}}
            </a>
            <a href="#/user/{{model.user._id}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom blue-navbar">
    <div class="container-fluid">
        <a class="navbar-brand white-navbar-text" href="#"></a>
        <a href="#/profile/{{model.user._id}}" class="navbar-text pull-right white-navbar-text">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>