<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a href="#/user/{{model.user._id}}/website" class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div>
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/new" class="navbar-text pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
    </div>
</nav>
<div class="row container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item borderless">
            <a href="#/user/{{model.user._id}}/website">
                {{page.name}}
            </a>
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>

        <div ng-show="model.error" class="alert alert-danger error-style" role="alert">{{model.error}}</div>

    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <a href="#/profile/{{model.user._id}}" class="navbar-text pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>