<nav class="navbar navbar-default navbar-fixed-top blue-navbar">
    <div class="container-fluid">
        <a class="navbar-brand white-navbar-text" href="#">Profile</a>
        <a ng-click="model.update()"
           href="#/profile/{{model.user._id}}" class="navbar-text pull-right white-navbar-text">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" readonly ng-model="model.user.username" class="form-control" id="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="model.user.email" class="form-control" id="email" placeholder="user@gmail.com">
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" ng-model="model.user.firstName" class="form-control" id="firstname" placeholder="Joe">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" ng-model="model.user.lastName" class="form-control" id="lastname" placeholder="User">
        </div>

        <a ng-click="model.update()"
           href="#/user/{{model.user._id}}/website"
           class="btn btn-primary btn-block">
            Websites
        </a>
        <a ng-click="model.delete()"
           href="#/login"
            class="btn btn-danger btn-block">
            Delete
        </a>
        <a ng-click="model.update()"
           href="#/login"
            class="btn btn-danger btn-block">
            Logout
        </a>

        <div ng-show="model.error" class="alert alert-danger error-style" role="alert">{{model.error}}</div>

    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom blue-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <a ng-click="model.update()"
           href="#/profile/{{model.user._id}}"
           class="navbar-text pull-right white-navbar-text">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>